page-videoplayer {
    #videoplayer:fullscreen {
        background-color: rgba(255,255,255,0) !important;
    }
    #videoplayer:-webkit-full-screen {
        background-color: rgba(255,255,255,0) !important;
    }
    #videoplayer:-moz-full-screen {
        background-color: rgba(255,255,255,0) !important;
    }
    .grid, .row{
        margin: 0 !important;
        padding: 0 !important;
        height: 100%;
    }
    #videoplayer{
        //transform: rotate(-90deg);
        width: 100% !important;
        
        position: absolute;
        padding: 0 !important;
        margin: 0 !important;
        top: 0;
        left: 0;
        z-index: 0;
    }
    #myBtn{
        position: absolute;
        top:50%;
        z-index: 10000;
        left: 37.5%;
        text-align: center;
        background: transparent;
        width: 25%;
    }
    #backPoster{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: calc(100vh);
        width: 100%;
        z-index: -1;
    }
    #coverPoster{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: calc(100vh);
        width: 100%;
        z-index: 1;
         /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+60 */
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0, 0, 0, 0.80) 55%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.8) 55%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.80) 55%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    }
    #infoPelicula{
        z-index: 2;
    }
    h2{
        color:  #2eff98;
    }
    hr{
        background-color:  #2eff98 !important;
        width: 85% !important;
        float: left;
    }
    p{
        color:white;
    }

    #backArrow{
        background: rgb(53, 53, 53);
    }
    
}
