page-perfil {
    ion-content{
		background: url("../assets/imgs/fondo.jpg");
		background-attachment: fixed;
		background-repeat: no-repeat;
        background-size: cover;
        margin-bottom:20% !important; 
	}
    .center {
        text-align: center;
        align-content: center!important;
		align-items: center!important;
    }
    .bold {
        font-weight: bolder;
    }
    .vertical-align-content > * {
		display: flex!important;
		align-content: center!important;
		align-items: center!important;
    }
    .background {
        background: #008080;
    }
    .label * {
        color: #020202 !important; 
        padding-left: 0.5em !important;
    }
    .label2 * {
        color: #020202 !important; 
        padding-left: 0.3em !important;
    }
    #bottom {
        padding-bottom: 19%;
    }
    .cierre{
        padding-top: 3% !important;
    }
}
