page-header {
    #posSearch{
        max-height: 48px;
        width: auto;
    }
    #listSearch{
        max-height: calc(80vh);
        overflow-y: auto;
        width: 100%;
        z-index: 10;
        position: absolute;
        background: rgba(0,0,0,0.5) !important;
    }
    #listSearch > a{
        cursor: pointer;
    }
}
