<page-header></page-header>
<ion-content>
  <ion-list *ngIf="isSearchbarOpened">
    <button ion-item *ngFor="let item of items" (click)="showDetail(item)">
      {{ item }}
    </button>
  </ion-list>

  <ion-card id="bottom">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <h1 class="titulo">
               Welcome, {{ identity.nickname }}!
            </h1>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <h3 class="titulo">Movies seen:</h3>
            <a *ngIf="seeAllMovies" class="alinearDerecha" (click)="goToSeeAll('visto', listMovieVieweds)">see all</a>
            <ion-grid>
              <ion-row>
                <ion-col col-4 *ngFor="let p of listMovieVieweds">
                <ion-row>
                    
                        <button (click)="goToInfo(p)" class="fotoPelicula" no-padding>
                          <ion-thumbnail item-start>
                            <img [src]="p.poster">
                          </ion-thumbnail>
                        </button>
                      
                </ion-row>
                <ion-row>
                        <h2 class="center">{{ p.title }}</h2>
                </ion-row>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="mensajePeliculas">
                <ion-col>
                  <h2 class="center">{{ mensajeViewP }}</h2>
                </ion-col>
              </ion-row>
            </ion-grid>

            <h3 class="titulo2">Series seen:</h3>
            <a *ngIf="seeAllSeries" class="alinearDerecha" (click)="goToSeeAll('visto', listMovieLikeds)">see all</a>
            <ion-grid>
                <ion-row>
                  <ion-col col-4 *ngFor="let s of mostrarSeries">
                  <ion-row>
                      
                          <button (click)="goToInfo(s)" class="fotoPelicula" no-padding>
                            <ion-thumbnail item-start>
                              <img [src]="s.poster">
                            </ion-thumbnail>
                          </button>
                        
                  </ion-row>
                  <ion-row>
                          <h2 class="center">{{ s.title }}</h2>
                  </ion-row>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="mensajeSeries">
                  <ion-col>
                    <h2 class="center">{{ mensajeViewS }}</h2>
                  </ion-col>
                </ion-row>
  
              </ion-grid>
          
          <h3 class="titulo2">Favourites films and series:</h3>
          <a *ngIf="seeAllF" class="alinearDerecha" (click)="goToSeeAll('favorito', listMovieLikeds)">see all</a>
          <ion-grid>
            <ion-row>
              <ion-col col-4 *ngFor="let p of mostrarPeliculasF">
                <ion-row>
          
                  <button (click)="goToInfo(p)" class="fotoPelicula" no-padding>
                    <ion-thumbnail item-start>
                      <img [src]="p.poster">
                    </ion-thumbnail>
                  </button>
          
                </ion-row>
                <ion-row>
                  <h2 class="center">{{ p.title }}</h2>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="mensajeF">
              <ion-col>
                <h2 class="center">{{ mensajeViewPS }}</h2>
              </ion-col>
            </ion-row>
          
          </ion-grid>
  
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>