<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-card>
          <ion-card-header>
            <p class="header">Registration</p>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <form [formGroup]="formularioUsuario" novalidate>
                <ion-item>
                  <ion-label floating>Name *</ion-label>
                  <ion-input formControlName="name" #name type="text"></ion-input>
                </ion-item>
                <ion-item *ngIf="formularioUsuario.get('name').errors && formularioUsuario.get('name').dirty">
                  <p color="danger" ion-text *ngIf="formularioUsuario.get('name').hasError('required')">Your name is required</p>
                </ion-item>
                <ion-item>
                  <ion-label floating>Surname *</ion-label>
                  <ion-input formControlName="surname" #surname type="text"></ion-input>
                </ion-item>
                <ion-item *ngIf="formularioUsuario.get('surname').errors && formularioUsuario.get('surname').dirty">
                  <p color="danger" ion-text *ngIf="formularioUsuario.get('surname').hasError('required')">Your surname is required</p>
                </ion-item>
                <ion-item>
                  <ion-label floating>Nickname *</ion-label>
                  <ion-input type="text" #nickname formControlName="nickname"></ion-input>
                </ion-item>
                <ion-item *ngIf="formularioUsuario.get('nickname').errors && formularioUsuario.get('nickname').dirty">
                  <p color="danger" ion-text *ngIf="formularioUsuario.get('nickname').hasError('required')" class="error">
                    nickname is required.
                  </p>
                </ion-item>
                <ion-item>
                  <ion-label floating>Birthday</ion-label>
                  <ion-datetime #birthday displayFormat="MM/DD/YYYY"></ion-datetime>
                </ion-item>
                <ion-item>
                  <ion-label floating>Email address *</ion-label>
                  <ion-input type="email" #emailad formControlName="email"></ion-input>
                </ion-item>
                <!-- Control de errores de si está rellenando el campo "Password" y el usuario está vacío indique un error -->
                <ion-item *ngIf="formularioUsuario.get('email').errors && formularioUsuario.get('email').dirty">
                  <p color="danger" ion-text *ngIf="formularioUsuario.get('email').hasError('required')" class="error">
                    Email is required.
                  </p>
                  <p color="danger" ion-text *ngIf="formularioUsuario.get('email').hasError('pattern')">
                    It is not an email
                  </p>
                </ion-item>
                <ion-item>
                  <ion-label floating>Password *</ion-label>
                  <!-- Creamos el input para la contraseña -->
                  <ion-input type="password" name="pass" formControlName="pass"></ion-input>
                </ion-item>
                <!-- Control de errores de si está vacío, o tiene menos de 10 caracteres, indique un error -->
                <ion-item *ngIf="formularioUsuario.get('pass').errors && formularioUsuario.get('pass').dirty">
                  <p color="danger" ion-text *ngIf="formularioUsuario.get('pass').hasError('pattern')" class="error">
                    It is not a strong password.
                  </p>
                </ion-item>

                <ion-item>
                  <ion-label floating>Confirm password *</ion-label>
                  <!-- Creamos el input para la contraseña -->
                  <ion-input type="password" #password formControlName="pass2"></ion-input>
                </ion-item>
                <!-- Control de errores de si está vacío, o tiene menos de 10 caracteres, indique un error -->
                <ion-item *ngIf="(formularioUsuario.get('pass2').hasError('equalTo') || formularioUsuario.get('pass2').hasError('required')) && formularioUsuario.get('pass2').touched">
                  <p color="danger" ion-text *ngIf="formularioUsuario.get('pass2').hasError('required') && formularioUsuario.get('pass2').touched" class="error">
                    It is not a strong password.
                  </p>
                  <p color="danger" ion-text *ngIf="formularioUsuario.get('pass2').hasError('equalTo') && formularioUsuario.get('pass2').touched" class="error">
                    Passwords do not match
                  </p>
                </ion-item>

                <br>
                <!-- Creamos el botón de registro, que permanecerá desactivado, hasta que los campos del formulario
              estén correctamente rellenos superando el control de errores -->
                <ion-grid padding-top>
                  <ion-row justify-content-center>
                    <div class="col-1" align-self-center>
                      <div>
                        <button ion-button type="submit" [disabled]="!formularioUsuario.valid" (click)="registerUsers()">Sign Up</button>
                      </div>
                    </div>
                  </ion-row>
                </ion-grid>

                <ion-grid>
                  <ion-row justify-content-center padding-top>
                    <div align-self-center>
                      <div>Or</div>
                    </div>
                  </ion-row>
                  <ion-row justify-content-center padding-top>
                    <div align-self-center>
                      <div>
                        <!-- <a (click)="goToRegistry()"> -->
                        <a (click)="gotoHome()">
                          <strong>Go to Login Page!</strong>
                        </a>
                      </div>
                    </div>
                  </ion-row>
                </ion-grid>
              </form>

            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>